body{
    background:rgb(12, 12, 12);
    color:dodgerblue;
    text-align: Center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom:80rem;
}


.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    justify-content:space-between;
    align-content: center;
    width: 100%;
    height:7rem;
    top:0;
    color:white;
    border-bottom: solid 0.3rem rgba(10, 40, 58, 0.462);
    backdrop-filter: blur(50px);
    position:fixed;
} 

.header-left{
    display:flex;
    width: 20%;
}

.header-middle{
    display: flex;
    width:80%;
    align-items: center;
    justify-content: center;
}

.header-right{
    display: flex;
}
.search{
    width: 5rem;
    height: 4.59rem;
    border: inset 8px rgb(12, 12, 12);
    border-radius: 0 1rem 1rem 0;
    box-shadow: inset 1rem 1rem 10rem rgb(12, 12, 12) ;
}

.searchbar{
    width: 25rem;
    height: 3.5rem;
    border: solid 0.5rem black;
    border-radius: 1rem 0 0 1rem;
    background-color: rgb(12, 12, 12) ;
    margin-right:0rem;
    box-shadow: -0.5rem 0.5rem 1rem rgb(2, 19, 35) ;
    font-size: 1.2rem;
    padding-left: 1rem;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}    

.searchbar::placeholder{
    padding-left: 1rem;
    font-size: 1.2rem;
    color: rgb(231, 231, 231);
}

.searchbar:focus{
    outline: none;
}

.searchbar:hover,.contact-me:hover{
    background-color: rgba(12, 12, 12, 0.811);
}

.searchbar:active,.contact-me:active{
    box-shadow: -0.5rem 0.5rem 1rem rgb(2, 19, 35) ;
}

    

.menu,.sidebar,.search{
    width: 5rem;
    height: 5rem;
    border: solid 0.5rem black;
    border-radius: 1rem;
    background-color: rgb(12, 12, 12) ;
    margin-right:0rem;
    margin-top:1.2rem;
    margin-bottom:1.2rem;
    box-shadow: -0.5rem 0.5rem 1rem rgb(2, 19, 35) ;
}

.search{
    border-radius: 0 1rem 1rem 0;
    height:4.6rem;
    box-shadow: 1rem 1rem 1rem rgba(10, 40, 58, 0.462);
}


.menu{
    margin-left: 2rem;
}
.sidebar{
    margin-right: 2rem;
    margin-left: 2rem;
}

.menu:hover,.sidebar:hover,.search:hover{
    box-shadow: inset 2rem 2rem 2rem rgba(10, 40, 58, 0.462);
}

.sidebar:active,.menu:active{
    margin-top: 1rem;
}


.search:active,.searchbar:active,.contact-me:active{
    margin-top:0.1rem;
    margin-left:0.1rem;
}

.contact-div{
    display:flex;
    flex-direction: row;
}

.contact-me{
    display: flex;
    width: 12rem;
    height: 3.9rem;
    border: solid 0.5rem black;
    border-radius: 1rem;
    background-color: rgb(12, 12, 12) ;
    box-shadow: -0.5rem 0.5rem 1rem rgb(2, 19, 35) ;
    font-size: 1.2rem;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center ;
    margin-top:1.3rem;
}    

.contact-me img{
    margin-right:1rem;
}

.header-img-box{
    top:0;
    width:100vw;
    z-index: -10;
}


.header-img{
    object-fit: cover;
    width:100%;
    height: 20vw;
}

.pfp-container{
    margin-top: -14rem;
    align-items: center;
    display:flex;
    flex-direction: column;
    box-shadow: inset 10px 10px 45px rgba(0, 0, 0);


}

.pfp{
    justify-content: center;
    align-items: center;
    margin-top:1.9rem;
    margin-left:2.5rem;
    margin-bottom: 8rem;
    height: 25rem;
    width:25rem;
    border-bottom: solid 5px black;
    box-shadow: inset 20px 20px 45px rgba(0, 0, 0);
    border-radius:4rem;
}

.intro-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro{
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color:whitesmoke;
}


.intro-scroll-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./bg-img/coolbackgrounds-particles-compute.png);
    justify-content: center;
    box-shadow: inset 20px 20px 45px rgba(0, 0, 0);
    padding-top:8rem;
    position:absolute;
    left:5rem;
    right:5rem;
    border-radius:2rem;
    height: 120rem;
    z-index:-100;
}

.icons{
    padding-top: 4rem;
}
.hi{
    font-size: 3rem;
    margin-top: 40rem;
}

.name{
    color:lightblue;
}

.about{
    display:inline-block;
    font-size: 1.5rem;
    width: 70rem;
    color:white;
    text-shadow: 0rem 0rem 5rem white;
    margin-bottom:8rem;
}

.skills-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}


h1{
    padding: 2rem;
    font-size: 3rem;
    color: white;
}

h4{
    color:lightcyan;
    font-size: 1.25rem;
    margin: 1rem;
}

.skills{
    margin-top:0;
    backdrop-filter: blur(10px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2rem 2rem 2rem rgb(12, 12, 12);
}

.card-titles{
    color:rgb(72, 163, 254);
    margin-top: 4rem;
}

.links{
    text-decoration: underline blueviolet;
}

.links:hover{
    text-decoration: underline lightcoral;
}

.links:active{
    text-decoration: underline black;
}

.footer-div{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    width: 100%;
    background-color: rgb(12, 12, 12);
    display:flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 30rem;
    border-top: solid 0.25rem white;

}

.footer-left{
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer-middle{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icons{
    margin-right: 2rem;
}

.contact-icons-drib{
    margin-left:2rem;
}

.made-with-love{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 1.2rem;
}

.batman-logo{
    background-color: black;
    border-radius: 4rem;
    box-shadow: inset 2rem 2rem 4rem black;
    margin: 0 2rem 0 2rem;
}

.location-symbol{
    margin-right:1rem;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1.3rem;
}