body{
    background:rgb(12, 12, 12);
    color:dodgerblue;
    text-align: Center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    padding: 2rem;
    font-size: 3rem;
    color: white;
}

h2{
    color:white;
    text-align: left;
}

h4{
    color:lightcyan;
    font-size: 1.25rem;
    margin: 1rem;
}


.pfp-container{
    margin-top: -14rem;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    display:flex;
    flex-direction: row;
    box-shadow: inset 10px 10px 45px rgba(0, 0, 0);
}

.pfp{
    justify-content: center;
    align-items: center;
    margin-top:1.9rem;
    margin-left:2.5rem;
    margin-bottom: 8rem;
    height: 25rem;
    width:25rem;
    border-bottom: solid 5px black;
    box-shadow: inset 20px 20px 45px rgba(0, 0, 0);
    border-radius:16rem;
}

.intro-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro{
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color:whitesmoke;
}


.intro-scroll-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./bg-img/coolbackgrounds-particles-compute.png);
    justify-content: center;
    box-shadow: inset 20px 20px 45px rgba(0, 0, 0);
    position:relative;
    margin-left:2rem;
    margin-right:2rem;
    border-radius:2rem;
    height: auto;
}

.icons{
    padding-top: 4rem;
}
.hi{
    font-size: 3rem;
    margin-top: 8rem;
}

.name{
    color:lightblue;
}

.about{
    display:inline-block;
    font-size: 1.5rem;
    width: 70rem;
    color:white;
    text-shadow: 0rem 0rem 5rem white;
    margin-bottom:8rem;
}

.skills-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}


.skills{
    margin-top:0;
    backdrop-filter: blur(10px);
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2rem 2rem 2rem rgb(12, 12, 12);
}

.card-titles{
    color:rgb(72, 163, 254);
    margin-top: 4rem;
}

.links{
    text-decoration: underline blueviolet;
}

.links:hover{
    text-decoration: underline lightcoral;
}

.links:active{
    text-decoration: underline black;
}

.project-gallery-div{
    background:rgb(12, 12, 12);    
    margin-top:4rem;
}

.project-gallery-div p{
    color:white;
    font-size: 4rem;

}

.project-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background:rgb(12, 12, 12);
    gap: 2.5rem;
    position: static;
    padding: 0rem 2rem 14rem;
    margin-bottom: 10rem;
}

.my-projects{
    font-size:4rem;
    text-wrap: nowrap;
    color:white;
    background-color: rgb(12, 12, 12);
}

.project{
    object-fit: cover;
    margin: 1rem 2rem 1rem 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: solid 0.1px rgb(95, 13, 95);
    background-color: rgba(48, 17, 58, 0.223);
}

.proj-img{
    height: 15rem;
    width:100%;
    padding-bottom: 12.25%;
    transition: transform 0.3s ease-in-out;
}

.project:hover .proj-img{
    transform: scale(1.02)
}